*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f8f8f8;
color:#333;
}

header{
background:#d4001a;
padding:15px 8%;
display:flex;
justify-content:space-between;
align-items:center;
color:white;
}

.logo-box{
display:flex;
align-items:center;
gap:15px;
}

.logo-box img{
width:60px;
}

.logo-box p{
font-size:13px;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
font-weight:bold;
}

.hero{
height:80vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(
rgba(0,0,0,.7),
rgba(0,0,0,.7)
),
url("assets/hero.jpg")

background-size:cover;
background-position:center;
color:white;
padding:20px;
}

.hero h1{
font-size:50px;
margin-bottom:15px;
}

.hero p{
font-size:20px;
margin-bottom:25px;
}

.btn{
background:#d4001a;
padding:12px 25px;
color:white;
text-decoration:none;
border-radius:5px;
}

section{
padding:70px 8%;
}

.section-title{
text-align:center;
margin-bottom:40px;
font-size:35px;
color:#d4001a;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
}

.card{
background:white;
padding:25px;
border-radius:10px;
box-shadow:0 0 15px rgba(0,0,0,.08);
}

.brands{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:15px;
}

.brands div{
background:white;
padding:20px;
text-align:center;
font-weight:bold;
border-radius:8px;
box-shadow:0 0 10px rgba(0,0,0,.08);
}

#contact{
text-align:center;
}

footer{
background:#111;
color:white;
text-align:center;
padding:20px;
}

.whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25d366;
padding:15px 20px;
border-radius:50px;
color:white;
text-decoration:none;
font-weight:bold;
}

@media(max-width:768px){

header{
flex-direction:column;
gap:15px;
}

nav{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.hero h1{
font-size:35px;
}

}